[2018-03-05 01:32] justlevine opened #2 "[Feature Request] Conditional Tags"
Would love to see a future release include conditional tags.
Something along the lines of `{iffeed:tag_name == 'value'} <div> ...{feeditem...}</div> {/iffeed}`.
Could be similar to [Mailchimp's Conditional Merge Tags](https://kb.mailchimp.com/merge-tags/use-conditional-merge-tag-blocks), just testing the $content returned from ItemsParser.php

I'm out of the country for the next few months, but I

[2018-04-16 06:46] ChrisRAoW commented on #2
Thanks for your idea. Will put it on the todo, but am really busy with client work at the moment

[2018-04-24 13:44] leonsgithub opened #3 "package install breaks mautic"
Hi Chris,

I was happy to see that you wrote this module. But when i tried to install it on the server it broke the mautic installation. I'm a bit of a noob so i could not undo the install of the email bundle and ended doing a bit of a reinstall.

This was the output:

root@bmx:/var/www/mautic# composer require raow/mautic-rss-to-email-bundle
Using version ^1.0 for raow/mautic-rss-to-email-bundle

[2018-04-24 17:48] ChrisRAoW commented on #3
Are you on the latest version of mautic (2.13.0)?

Do the following:
1. Remove the current composer.json and composer.lock from root of the mautic install
2. Remove the vendors folder
3. Download the composer.json from the mautic github (https://github.com/mautic/mautic/blob/2.13.0/composer.json) and place it into the root of your project
4. Run `composer install` from the command line
5. Check if

[2018-04-25 08:43] ChrisRAoW commented on #3
@leonsgithub This is not a preferable approach. Because if you remove the composer.json the rss feed plugin won't be linked / updated anymore. You should be able to update mautic from the GUI or CLI without any issue now.

I think installed mautic from the download on the mautic website (not through github). That download is missing the composer.json. So now you have it it should be fine.

[2018-04-25 15:08] eugusouza commented on #2
Hello @ChrisRAoW congratulations for this plugin, but the smae don't work in anyone version.

I tested in 2.12, 2.12.1, 2.13 and 2.13.1 and nothing.

Best regards.

[2018-04-25 15:09] ChrisRAoW commented on #2
It was created in version 2.12. So it will certainly work. What do you experience?

[2018-04-25 15:12] eugusouza commented on #2
By the way... In 2.12 it's not working.

When sending the test email it was processing forever and nothing.

When sending the e-mail to some of my team's contacts, it was processing forever and nothing.

That is, it did not work at all.

PS: I always use segment email for testing.

[2018-04-25 15:27] ChrisRAoW commented on #2
Did you check the error log?

[2018-04-25 15:57] eugusouza commented on #2
Yeah...

Error in line 12 Folder "Feed" file "Feed.php" $feed = new SimplePie();

[2018-04-25 16:04] ChrisRAoW commented on #2
Can you check if your vendor folder contains a simplepie folder?

[2018-04-25 16:07] eugusouza commented on #2
The "Simplepie" folder doesn't exist.

[2018-04-25 16:08] ChrisRAoW commented on #2
That's your problem. Did you install the plugin through composer? (following the instructions on github)?

[2018-04-25 16:11] eugusouza commented on #2
Yes. Absolutely the same.

But anyway, I'm now in version 13.1.

Can you tell me if it works on her?

[2018-04-25 16:42] ChrisRAoW commented on #2
Got the same issue now. Will try to fix tonight.

[2018-04-25 16:48] eugusouza commented on #2
Ok. Can you inform me of the correction and update, please?

[2018-04-25 18:51] ChrisRAoW commented on #2
Nevermind, it is working in 2.13.1 as it is. But after update you have to run the composer command again from the mautic root `composer require raow/mautic-rss-to-email-bundle`

[2018-04-30 10:00] leooxx opened #4 "Add contactfield value in url parameter ?"
Hello,

I'm using your plugin every month to send the last posts from my blog and it work's great. Thank you so much.

I want to send a personnalised rss content to my client. Can i add a mautic parameter in the URL ?

Something like that...

{feed url="https://mywebsite/file.rss"} **+** {contactfield=id}  **=** {feed url="https://mywebsite/file.rss?clientId={contactfield=id}"}

Thank you for your

[2018-05-04 09:12] ChrisRAoW commented on #4
HI Léo,

Thanks for you suggestion. It's certainly something I had in mind already, but there is 1 big concern for this: performance.

By making the RSS file personalised it needs to be requested and parsed for every mail sent. When you have a big list it will cause a high load on the server and and brute-forced fetch of rss files to the target server.

So that's why I didn't yet implemented it. B

[2018-05-04 09:13] ChrisRAoW commented on #2
@eugusouza Is it workingfor you now?

[2018-05-04 16:25] dougysobi opened #5 "Feedinfo:url"
Hi,
I'm using your cool plugin through Mautic since a few days to blast my newsletter around that is generated with ttrss. It starts to work but I'm struggling with the {feedinfo:url}. Indeed, when I click on the title of one of the articles contained by the rss flow I'd like of course that it points to the source of the article but at the moment it points at the url of the rss flow instead... Any

[2018-05-06 08:50] leooxx commented on #4
I thought the mail was generated for each sending for each user... as it contains other variables.
So there are two levels of mail generation. The integration of RSS content and then the variables?

If the RSS is loaded only once... I understand.
Thank you,

Léo

[2018-05-06 08:57] leooxx commented on #4
Si j'envoi 1000 emails sur plusieurs heures et que j'ajoute un article dans mon flux les derniers emails sont différents des premiers...

[2018-05-06 08:58] leooxx commented on #4
If I send 1000 emails over several hours and I post an article in my feed the last emails are different from the first ones in mautic...

[2018-05-06 12:00] dougysobi commented on #5
Answering to myself as I solved the previous point that I raised, here is the slightly tweaked code of the php file caled "ItemTag.php" just add a case 'urlitem':
  switch ($this->tag) {
          //To point, within the Newsletter, towards full articles online. For this use <a href="{feeditem:urlitem}"> in your HTML code in Mautic
            case 'urlitem':
                $value = $feedItem->get

[2018-05-07 06:17] ChrisRAoW commented on #5
I see this tag is missing in the docmentation. Will add it: But you should be able to use {feeditem:link}

[2018-05-09 11:11] eugusouza commented on #2
@ChrisRAoW the same problem in Mautic 13.1.

And now, the system is shoutdown when insert your plugin.

[2018-05-09 11:54] ChrisRAoW commented on #2
@eugusouza Can you find something in the log-files?

[2018-05-09 11:56] eugusouza commented on #2
@ChrisRAoW I could not even see it, because when I installed it in version 13.1, it returned error 500 and I could not even open the Mautic.

In order to run, I had to delete your plugin. Only then did it work again.

[2018-06-01 09:54] pradeepm opened #6 "Mautic stops loading after composer install"
Hi, I managed to install this and get it to work fine on a Bitnami Mautic instance on AWS. I've been trying to do the same on an Ubuntu Server instance but every time I install this, Mautic stops loading. I tried installing Mautic first and then this and it didn't work. So I thought I'll install this on the Mautic folder before I install/configure Mautic. Did that and the Mautic installer isn't co

[2018-06-02 20:14] ChrisRAoW commented on #6
@pradeepm I'm happy to help. Did you already checked the log files?

I could also check directly on your server. Can you send the inlogdetails to chris[at]raow.nl?

[2018-06-02 20:49] pradeepm commented on #6
Hello Chris, please check your emails. Thanks.

[2018-06-02 22:03] ChrisRAoW commented on #6
Replied your email.

Mautic was installed from the ZIP downloaded from the Mautic website. This doenst include the composer.json. So when you run the `composer install` all the required libraries from the vendor folder are removed.

So for others stumbling on the same issue:
- Or install mautic from the Git (https://github.com/mautic/mautic)
- Or download the composer.json from the Mautic GIT and

[2018-06-03 08:48] pradeepm commented on #6
Many thanks Chris! For the help and the explanation. Keep up the good work.

[2018-06-03 08:48] #6 closed

[2018-06-04 17:43] pradeepm opened #7 "Fetching only new posts"
Hello Chris,

This is not quite an 'issue' but is there a way for the plugin to fetch only the 'new' posts? Basically I'm trying to build a weekly newsletter so it fetches the posts published since the last newsletter (similar to what MailChimp does). Further, this is more of a Mautic question, is there a way for us to automate to go out weekly or we just have to create a load of campaigns/emails

[2018-06-04 18:05] ChrisRAoW commented on #7
Question 1:
Nu it does not at the moment. You could play with the count in the feeditems token: `{feeditems count="3"}`. But i agree i would be a nice feature.

Question 2:
Currently I'm using this plugin for it: https://github.com/thirdset/ThirdSetMauticResetBundle.
But some good news....the new version of Mautic (2.14) which will be release at the end of this month has recuring campaigns buildin

[2018-06-04 21:56] pradeepm commented on #7
Many thanks again. Hopefully you will find the ideas and time to make this even better in future.

[2018-06-04 21:56] #7 closed

[2018-06-05 16:06] eugusouza commented on #2
@ChrisRAoW now it's running ok.

Any question. I use the code in Campaign Email or Segment Email.

How it works better?

[2018-06-08 19:52] dougysobi opened #8 "{feeditem:link}"
Hi again and thanks for the last reply. I was wondering if you can point at the code where the {feeditem:link} tag for instance is interpreted? Do you have any doc to help me to figure out how this works?
Thanks in advance!

Ju

[2018-06-13 21:52] ChrisRAoW commented on #8
Sorry, I do not understand your question.

Do you mean this file:
https://github.com/ChrisRAoW/mautic-rss-to-email-bundle/blob/master/Parser/ItemTag.php

On line 32?

[2018-06-14 07:40] dougysobi commented on #8
yes it wasn't clear... I was just blind and couldn't find the way you parsed the {feed:} but it is actually in parser/parser.php line 15. We try to use your code as a start to make the same for xml and json reports to get them sent by email through mautic that's why I try to figure out litle by litle what you've done so far! thanks anyway!

[2018-06-18 11:41] pradeepm opened #9 "Image and Categories tags not picking up value"
Hello Chris,

I've been trying to build a customised newsletter for a client and tried all available tags to see what do they deliver when it parses my client's WordPress site. Most work well but I noticed that image and category data are not getting displayed correctly. [Here's the link to the sample](https://newsletter.advantagesofage.com/email/preview/8) and [here is the feed I'm using](https:/

[2018-06-19 12:21] ChrisRAoW commented on #9
By default Wordpress doesn't include the featured images in the feed. This can be fixed with this plugin: https://wordpress.org/plugins/wp-feed-post-thumbnail/ (there are more). Install it and configure it and it should work right away.

The categories aren't implemented correctly on my end. Will try to fix this today.

If you want to have additional tags we could add them to the plugin. Do you al

[2018-06-19 13:33] pradeepm commented on #9
We have added featured images through functions.php not through a plugin.
Would that make any difference?

Tags we like to parse are custom tags specific to a project. Like Original
Price, Sale Price, Offer Percentage etc, Not sure if it's fair to expect
them from this. On the other hand such tags would be immensely useful for a
product feed such as a Woocommerce products feed.
--
Most of the impo

[2018-06-19 14:08] ChrisRAoW commented on #9
That wouldn't make any difference. But the RSS should contain an media or enclosure tag containing the url to the image.

We use the SimplePie library to parse the RSS / XML file. If simplepie has a solution the parse it from the xml we can create a solution map it to the Email. Do you have an xml already containing this information?

I just release an update of the plugin which fixed parsing the

[2018-06-19 16:28] pradeepm commented on #9
Here's how images appear with the feed:

<description><![CDATA[<div><img width="770" height="513"
src="https://i1.wp.com/advantagesofage.com/app/uploads/2018/03/senior-cohousing-14-770.jpg?fit=770%2C513&amp;ssl=1"
class="attachment-full size-full wp-post-image" alt=""
style="margin-bottom: 15px;"
srcset="https://i1.wp.com/advantagesofage.com/app/uploads/2018/03/senior-cohousing-14-770.jpg?w=770&am

[2018-06-19 19:39] ChrisRAoW commented on #9
You include the image now in the description. But it should be in its own media of enclosure tag. The plugin a suggested does just that.

[2018-06-25 12:59] pradeepm commented on #9
We tried with this, outside the Description tag but still no luck:

<image><img src="https://www.frugl.com/wp-content/uploads/2018/06/163034925663-small.jpg"/></image>

Any suggestions?
--
Most of the important things in the world have been accomplished by people
who have kept on trying when there seemed to be no hope at all - Dale
Carnegie

On Tue, 19 Jun 2018 at 20:39, ChrisRAoW <notifications@g

[2018-06-25 13:00] ChrisRAoW commented on #9
This isn’t going to work. You need the media or enclosure tag.
http://www.rssboard.org/media-rss <http://www.rssboard.org/media-rss>

Chris Schrijver
Eigenaar
Stationsplein 4
3844 KR Harderwijk
	0341 - 75 15 15 <tel:+31341751515>
06 - 13 69 07 78 <tel:+31613690778>
chris@raow.nl <mailto:chris@raow.nl>
www.raow.nl <http://www.raow.nl/>

[2018-06-25 13:09] pradeepm commented on #9
Oh I'm with you now. Will this format work or does it need more information?

<media:content url="http://xyz.com/example.jpg" medium="image">

--
Most of the important things in the world have been accomplished by people
who have kept on trying when there seemed to be no hope at all - Dale
Carnegie

On Mon, 25 Jun 2018 at 14:00, ChrisRAoW <notifications@github.com> wrote:

[2018-06-25 13:17] ChrisRAoW commented on #9
This should work. But like I said, the plugin I suggested does already exactly this.

Chris

Chris Schrijver
Eigenaar
Stationsplein 4
3844 KR Harderwijk
	0341 - 75 15 15 <tel:+31341751515>
06 - 13 69 07 78 <tel:+31613690778>
chris@raow.nl <mailto:chris@raow.nl>
www.raow.nl <http://www.raow.nl/>

[2018-06-25 13:21] pradeepm commented on #9
Many thanks! I have two projects going on. One is standard WordPress blog
which I can use that plugin. The other is a different site where we have to
manually build the feed.
--
Most of the important things in the world have been accomplished by people
who have kept on trying when there seemed to be no hope at all - Dale
Carnegie

On Mon, 25 Jun 2018 at 14:17, ChrisRAoW <notifications@github.com>

[2018-06-25 17:01] Genysys opened #10 "Installation Failure"
I am trying to install this on a bitnami mautic installation hosted on google cloud.  after runnning

the git clone command, I get this error"

`Could not scan for classes inside "app/AppKernel.php" which does not appear to be a file nor a folder `

Would appreciate any pointers on this

[2018-06-26 14:33] ChrisRAoW commented on #10
From which folder are you running the git clone command?

[2018-07-15 00:12] Ticodillo opened #11 "Installation Failure not enough Memory"
Hi, I am trying to install on a siteground shared account and the memory limit for the account is 768 MB apparently the composer uses 845mb.  I am new Mautic, and would love to be able to use it but Rss to Email is a must for me,  is there a different way to install your plugin?

[code]

[2018-07-16 08:04] ChrisRAoW commented on #11
can you try to do the folowing.

Run the following command In the root of your mautic installation:
`composer require simplepie/simplepie`

Download this ZIP:
https://github.com/ChrisRAoW/mautic-rss-to-email-bundle/archive/master.zip

Upload the folder in the plugins directory.

Please let me know

[2018-07-16 19:08] Ticodillo commented on #11
Hey Chris, thanks for your response! I tried the command in the root like you asked and got the same error. It tried to allocate the same amount of memory, and the server threw the error.
Thanks for taking the time on this.

[2018-07-25 07:03] ChrisRAoW commented on #11
@Ticodillo Do you have other plugins installed was well? Does more sound like a composer configuration error or another package that is messing things up.

[2018-07-25 12:45] Ticodillo commented on #11
I don't have any plugins installed. As far as the composer, I don't know what to say other than that it was a Softaculous install.

[2018-07-25 13:07] ChrisRAoW commented on #11
@Ticodillo Sorry, since this is more server configuration, I can't help you any further.

[2018-07-25 14:57] Ticodillo commented on #11
Hey Chris, no worries I understand, thanks for the help you gave.

[2018-07-25 14:57] #11 closed

[2018-08-10 19:01] Shane-Bird opened #12 "Installing Plugin on cPanel instance without SSH"
Ive uploaded the composer.json file as well as unzipped the plugin file in the root of the installation, what do i need to add to the composer.json file in order to be able to install the plugin within mautic with out having to run "composer require raow/mautic-rss-to-email-bundle"

[2018-08-13 08:32] ChrisRAoW commented on #12
Currently not possible. But will try to make a versions available somewhere in the next few days that makes it possible to just upload the plugin in the plugins folder.

[2018-08-14 19:17] #9 closed

[2018-08-14 19:39] pradeepm opened #13 "Symfony/SimplePie issue after Mautic update"
Hello Chris,

Since the latest Mautic update, I am getting this error. Any suggestions for a fix?

`mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\ClassNotFoundException: "Attempted to load class "SimplePie" from the global namespace. Did you forget a "use" statement?" at /var/www/html/aofanews/plugins/MauticRssToEmailBundle/Feed/Feed.php line 12 {"exception":"[object] (

[2018-08-14 19:42] ChrisRAoW commented on #13
Reinstall the plug-in should work.

Verstuurd vanaf mijn iPhone

[2018-08-14 20:04] pradeepm commented on #13
Worked like a charm! Many thanks!

[2018-08-14 20:04] #13 closed

[2018-10-30 22:28] milosrusov commented on #13
Hi guys, can you please tell me how to install simplepie by using compoer? Composer just kills the process.

[2018-10-31 14:56] ChrisRAoW commented on #13
@milosrusov I know what you know. I already want to imclude the library into this plugin so you only have to install it once and stay safe on Mautic update. Haven't had the time you to fix. Will try to push it through this week.

[2018-10-31 19:15] milosrusov commented on #13
Thank you so much Chris! :)

[2018-11-01 00:29] ChrisRAoW commented on #13
@milosrusov I just pushed a new version. Can you try to download the package from github and upload it to the plugins directory of Mautic? To be safe just follow the steps in the documentation.

[2018-11-01 00:30] ChrisRAoW commented on #12
@Shane-Bird  I just pushed a new version. Can you try to download the package from github and upload it to the plugins directory of Mautic? To be safe just follow the steps in the documentation.

[2018-11-01 09:13] milosrusov commented on #13
Works like a charm! :D Thank you once again!

[2018-11-07 12:44] developerdiary opened #15 "Feed not working"
Adding code in Code Block

[code]

**Getting Output**

{feed url="https://www.theverge.com/rss/index.xml"} {feeditems count="3"}
{feeditem:title}
{feeditem:date format="d-m-Y H:i"}

{feeditem:description}

{/feeditems} {/feed}

Please help {feed url="https://www.theverge.com/rss/index.xml"} {feeditems count="3"}
{feeditem:title}
{feeditem:date format="d-m-Y H:i"}

{feeditem:description}

{/feedite

[2018-11-07 15:18] ChrisRAoW commented on #15
Hi @developerdiary, look like the plugin isn't active yet. Did you activated it after installing it into the plugins folder?

[2018-11-23 15:54] IADDIC opened #16 "Installation fails"
I originally posted an error.  It was my error.

[2018-11-23 16:50] #16 closed

[2018-11-30 17:33] IADDIC opened #17 "Feed Error"
Hello, I have your plugin installed in Mautic and when I create and publish an email I get this error.

Error: cURL error 22: The requested URL returned error: 400 Bad Request

 the feed I am using is below

https://www.sheltertheworld.org/shelter-the-world-shop/feed/

I have the following code in my email template (code mode)

` <div data-section-wrapper="1">
                      {feed url="http

[2018-11-30 17:45] ChrisRAoW commented on #17
In the case of #15 the tokens weren't even replace. That's why It looked like the plugin wasn't activated yet.

In your case it seems the feed isn't accesible for some reason.

This is what I read somewhere in another topic (related to the xml parser library we are using:
`Reason for this error: Some RSS feed provider block "SimplePie" as user agent request`

Could you try the following (didn't tr

[2018-11-30 17:56] IADDIC commented on #17
produced a 500 error when I tried to preview the email

![image](https://user-images.githubusercontent.com/4072655/49306098-e0e25080-f496-11e8-9f66-7da70061cae5.png)

[2018-11-30 23:19] ChrisRAoW commented on #17
Sorry, my bad. Was putting it into the wrong class. Can you try it in file:
`*plugin_folder*/Feed/Feed.php`

And then add the line after line 12:
`$feed->set_useragent('mautic');`

[2018-12-01 14:10] IADDIC commented on #17
Thank you ChrisRAoW, That fix has indeed got me going.  I applaud you for doing this as it adds so much value to our marketing efforts.

[2018-12-01 14:10] #17 closed

[2018-12-02 09:43] ChrisRAoW commented on #17
@IADDIC It's now in the current master / latest release. Nice to hear this plugin is adding such value to your marketing efforts!

[2018-12-27 09:26] Mamebart opened #18 "Display of quotes/apostrophs in feed title"
Hi Chris,

Got your plugin working on my Mautic instance. The only thing I still need to fix, is the proper display of quotes in the email article titles. See the screenshot: single and double quotes are not correctly shown.

Not sure if this is something that I need to fix on the email side, plugin side or maybe the feed itself (The feed I'm using is https://androidworld.be/feed)

Thanks for poin

[2019-01-07 08:21] Shane-Bird commented on #12
Amazing! Thanks so much Chris!

[2019-03-16 10:15] Mamebart commented on #18
Yes, indeed, this was on our side. Thanks.

[2019-03-16 10:15] #18 closed

[2019-03-16 10:21] Mamebart opened #19 "Low res images in feed"
Hi,

I've noticed that {feeditem:image} pulls in low res images from my feed (https://androidworld.be/feed). Here's the code that loads the image:

`<img src="https://cdn3.androidworld.nl/media/thumbnails/47/94/4794d7ce6ea2b61f46c9f347f3b831f0.jpg" alt="content image" data-pagespeed-url-hash="3429114804" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/>`

With the same feed, in F

[2019-03-16 10:59] ChrisRAoW commented on #19
@Mamebart It's using the url in the `<enclosure>` tag. There the low-res image is sent.

[2019-03-16 12:10] #19 closed

[2019-04-12 15:24] 3ruce opened #20 "Does this work with Mautic 2.15?"
Great plugin! I just upgraded to v. 2.15, do you know if this will still be compatible?

[2019-04-12 15:24] ChrisRAoW commented on #20
@3ruce Thanks! Yes it is!

[2019-04-12 15:25] 3ruce commented on #20
Cool, thank you!

[2019-05-22 22:44] afanjul opened #21 "Cannot install in Mautic 2.15.2-dev"
Hi there, I'm trying to install this plugin into Mautic 2.15.2-dev and it does not show in the plugins list, here are my steps without any success:

- git clone the repository
- rename the folder to MauticRssToEmailBundle inside /var/www/mautic/plugins folder
- be sure that the owner is www-data
- go to plugins sections and press the button to "install/upgrade" plugins

But the plugin doesn't show

[2019-05-24 18:01] pwilhelm949 opened #22 "THANK YOU FOR THIS MODULE"
Just wanted to leave this here to say thank you. You are a life saver. This plugin works beautifully.

It's been a long time coming and it's finally here, I had wanted something like this wayback in 2015.

Great work again Chris!

[2019-05-24 20:40] ChrisRAoW commented on #22
@pwilhelm949 Thanks for you kind words! Very much appreciated!

[2019-05-24 20:40] #22 closed

[2019-05-24 20:41] ChrisRAoW commented on #21
@afanjul Did you already try to clear the cache?

[2019-05-25 13:33] afanjul commented on #21
Yes, I cleaned the cache... but no way...

[2019-05-27 07:10] ChrisRAoW commented on #21
@afanjul have you already tried to install other plugins?

[2019-05-28 18:46] afanjul commented on #21
Hi @ChrisRAoW, many thanks for your suggestion because after copying another "dummy plugin" like "Advanced Templates", and empty (this time just the "prod" folder inside cache), and refreshing the extensions, now the rss extension appeared....
A very strange behaviour... I don't know if its the way I emptied the cache folder, or just the insertion of a new plugin...
strange things! but thanks

[2019-05-28 18:46] #21 closed

[2019-05-30 18:51] 3ruce opened #23 "Send a daily or weekly email using feed items"
So I'm probably missing something here, but having got the plugin working fine in a test email, what sort of campaign do I setup so that mautic keeps sending a daily or weekly email from the rss feed?

[2019-05-30 19:56] ChrisRAoW commented on #23
This not really a question regarding this plugin, but is related to how mautic works. Maybe better to ask for help on slack for example.

[2019-05-30 19:56] #23 closed

[2019-05-31 06:53] 3ruce commented on #23
Cool, I think the "restart campaign" feature does the trick...

* https://github.com/mautic/mautic/pull/6132
* https://github.com/mautic/mautic/issues/1606

There's also a demo here...

* https://navigatetomorrow.com/tutorials/how-to-create-a-birthday-campaign-in-mautic

[2019-08-09 11:47] ttencate commented on #4
Isn't this [already implemented](https://github.com/ChrisRAoW/mautic-rss-to-email-bundle/blob/5f47011623671271551c1a59bb427d2532c5f69c/Parser/Parser.php#L23)? It seems to work for me.

[2019-08-09 15:09] ChrisRAoW commented on #4
@ttencate It's already some time ago i worked on the plugin. But I could be that this was implemented by a pull request. Don't know anymore :-)

[2019-09-02 12:43] arthurocrates commented on #20
i waiting...

[2019-09-02 19:34] ChrisRAoW commented on #20
@arthurocrates what for?

[2019-09-15 16:59] PierreAmmeloot opened #25 "Install do not Work"
Hello,

I have follow all steps to install plugin but on this step :
- Click on the "Install/Upgrade Plugins" button

I have 0 new plugin installed.
Why?

Regards,
Pierre

[2019-09-15 20:11] ChrisRAoW commented on #25
@PierreAmmeloot Something you have to clear your cache.

`php app/console cache:clear`

[2019-09-17 09:19] #25 closed

[2019-10-11 13:31] TBarregren opened #26 "Feature request: Reverse order"
I suggest that the tag`{feeditems}` gets a flag `reverse` to control the sort order of the outputted items. If present, the items are outputted in reverse order.

Usually, RSS feeds lists items in reverse chronological order. But in a newsletter it would be nice to present them in chronological order. With this flag it would be possible.

[2019-10-12 06:55] ChrisRAoW commented on #26
@TBarregren Good suggestion, will think about it.

[2019-11-01 15:08] #26 closed

[2019-11-01 15:09] ChrisRAoW commented on #26
This one is in latest release. Thanks @kuzmany

[2019-11-01 15:09] #20 closed

[2019-11-01 15:11] ChrisRAoW commented on #15
No, repsonse, So I assume it's no issue anymore.

[2019-11-01 15:13] #15 closed

[2019-11-01 15:13] #12 closed

[2019-11-01 15:14] ChrisRAoW commented on #10
No response, closing issue.

[2019-11-01 15:14] #10 closed

[2019-11-01 15:14] #8 closed

[2019-11-01 15:14] #5 closed

[2019-11-01 15:15] #4 closed

[2019-11-01 15:15] #2 closed

[2020-01-25 05:30] pleasemarkdarkly opened #28 "Installing on 2.15.3 the RSS code renders nothing."
Tried to test this plugin, and after updating my docker container with the compose file and installing the plugin, the drop in code example failed to render anything on my tests, are there areas or logs which I can inspect what is going on?

[2020-01-27 15:15] ChrisRAoW commented on #28
@pleasemarkdarkly Mhh, strange. Have plugin here running without issues. You're sure the Feed isn't empty?

[2020-01-27 15:16] pleasemarkdarkly commented on #28
That was the first thing I checked, moved it to a few open source feeds and ycombinator.

-Sent from my iPhone; sorry for ayn typos.

[2020-01-27 15:17] ChrisRAoW commented on #28
have you used the plugin before without issues?

[2020-01-27 15:50] pleasemarkdarkly commented on #28
No, installed it on a fairly new installation.

Mark

-Sent from my iPhone; sorry for ayn typos.

[2020-01-27 18:47] ChrisRAoW commented on #28
But if I understand correctly, the tokens are replaced, but basically with nothing?

[2020-01-27 18:56] pleasemarkdarkly commented on #28
Yes, empty. The files were copied properly, permissions were set properly, it installed, and the sample tokens were included as directed.

[2020-01-27 19:04] ChrisRAoW commented on #28
Can you copy / paste the template? Just to be sure?

[2020-02-09 19:53] christianschubert76 opened #29 "{feeditem:image} not pulling image"
Hello, this might not be an issue code wise - maybe we have to change our rss feed output:

Our site includes image like this within the RSS XML
<item>
<media:thumbnail url="webserver.com/thumbnail.jpg"/>
</item>

The URLs are working fine and show the thumbnail image. What do we have to do to make it work in mautic?

[2020-02-10 03:34] YouBuiltThat commented on #29
I am using a WordPress RSS feed and similar issue Everything works but the image.

I am in 2.16.0_beta but this seems to be the only issue.  This may be that the RSS is not able to parse the default WP image information.

[2020-02-10 03:43] YouBuiltThat commented on #29
Nevermind I decided to grab a half dozen more WP sites and most of those work flawlessly clearly for me it is just not working with the RSS from my sites.

[2020-02-10 12:06] ChrisRAoW commented on #29
Do you have a rss feed for me where I can run some tests with?

[2020-02-10 12:34] christianschubert76 commented on #29
@ChrisRAoW Hi, this is our self-generated RSS feed - we have full control over the possible output

https://www.esanum.de/rss/feeds/today

Thanks for your help!

[2020-02-10 12:49] ChrisRAoW commented on #29
Can you test with media:content in stead of media:thumbnail?

Chris

[2020-02-12 12:20] christianschubert76 commented on #29
@ChrisRAoW thanks this works - we added this to our output.

[2020-02-12 12:20] #29 closed

[2020-05-05 05:06] winklevos opened #33 "{feeditem:image} not displaying image"
I'm trying to push the content and image into separate sections and the image is included in the <description> block from wordpress the image is displayed when using {feeditem:description} but {feeditem:image} is null. Is there anyway to make this work?

`		<title>test;</title>
		<link>https://test.category/xxx/</link>

		<dc:creator><![CDATA[xxx]]></dc:creator>
		<pubDate>Tue, 14 Jan 2020 05:37:0

[2020-05-05 07:49] ChrisRAoW commented on #33
@winklevos The image {feeditem:image} will only work when there is an enclosure or media tag in the feed. See documentation:

**{feeditem:image}**
Returns: url of the image. Will check the enclosere and media tags of the xml.

[2020-05-05 08:12] winklevos commented on #33
@ChrisRAoW apologies, thought my plugin was doing it, all resolved now. Great plugin!

[2020-05-05 09:18] ChrisRAoW commented on #33
Thanks!

[2020-05-05 09:18] #33 closed

[2020-05-12 16:58] ashishpatel1992 opened #34 "Not showing in Mautic v2.16.2"
This plugin is not visible in Mautic v2.16.2
I have extracted the files in directory /plugins
and renamed the folder as MauticRssToEmailBundle
But it doesnt display in Mautic GUI / Plugins

[2020-05-12 18:33] ChrisRAoW commented on #34
Already tried to clear the cache?

[2020-05-12 18:42] ashishpatel1992 commented on #34
Yes cleared the cache at _/app/cache_
But doesnt help

[2020-05-12 18:45] ChrisRAoW commented on #34
Did you had the plugin already before?

[2020-05-12 18:48] ashishpatel1992 commented on #34
No. I just installed it on a fresh site with fresh Mautic Installation

[2020-07-06 08:04] Horlaes commented on #34
I have the same issue, please help

[2020-07-28 11:36] EmprendoHub opened #35 "Not Working In Mautic 3"
Hi there, just wanted to report that I tested this plugin in the new Mautic 3 and it's not working, is there any plans of updating the code so it's compatible with the new Mautic 3 version?

[2020-07-28 11:37] ChrisRAoW commented on #35
@EmprendoHub Yes, absolutely. Didn't had the time yet to check it out. Will will try soon. Thanks for you report.

[2020-08-02 14:32] ericcumbee commented on #34
Having the same issue on a fresh install as well.

[2020-08-05 16:25] ericcumbee commented on #34
apparently I poked my install with a stick enough to make it work.

[2020-08-05 18:02] ericcumbee opened #36 "Content Repeats if Items in feed are less than feedItems count"
I am trying to send out a daily digest of articles for the last 24 hours from my WordPress news site .

I'm generating RSS feeds for each segment using a node script that grabs the posts for the last 24 hours and then generates a RSS feed.

I've noticed that if the number of posts in the feed is less than the count parm in feeditems then a article is randomly repeated. To me the correct behavior w

[2020-08-08 04:33] ericcumbee commented on #36
Sorry about that. my node script was the culprit.

[2020-08-08 04:33] #36 closed

[2020-08-11 13:59] MyWebmasterD commented on #34
same in mautic 2.15. not showing in plugin list

[2020-08-11 14:01] ChrisRAoW commented on #34
@MyWebmasterD Probably you have to clear the cache and go to he install/upgrade page.

[2020-08-12 08:25] MyWebmasterD commented on #34
Yes clearing the cache solved the issue

[2020-08-12 08:35] MyWebmasterD commented on #34
The feed perfectly works, do you know how to trigger the email when a new post is published?

[2020-08-17 12:54] alessiofx commented on #35
i have some problem ! Follow

[2020-08-26 01:52] arnoldsigik commented on #35
Hmm.. I bumped to a problem too. Probably the same as I have version 3 of Mautic. So I tried to install this: https://github.com/ChrisRAoW/mautic-rss-to-email-bundle and follow the instruction here:

Installation:
1. Download the plugin from github
2. Move / Upload folder to the plugins directory. Name the folder MauticRssToEmailBundle
3. In the Mautic GUI, go to the gear and then to Plugins.
4. C

[2020-11-27 23:36] GMCenterprises commented on #35
Any news on the possibility of getting this plug-in working in Version 3?

[2020-12-23 05:30] GMCenterprises commented on #35
I'm not sure if this is related but it works perfectly fine for me in Mautic Ver 3

https://mauticapps.com/

[2020-12-23 17:37] GMCenterprises commented on #34
this works perfectly in version 3

https://mauticapps.com/

[2021-02-25 03:43] connectedbusiness-gary commented on #35
I can confirm that this works in version 3.3.1

[2021-03-22 21:34] ChrisRAoW commented on #35
The plugin now works with mautic 3.3.2. Thanks to @kuzmany!

[2021-03-22 21:34] #35 closed

[2021-03-22 21:34] #34 closed

[2021-03-22 21:35] #28 closed

[2021-03-29 21:32] TonyBogdanov commented on #35
@ChrisRAoW Does this mean the plugin works **only** in Mautic 2.* and Mautic 3.3.2+?

[2021-03-30 07:23] ChrisRAoW commented on #35
@TonyBogdanov Yes, it should.

[2021-03-30 11:28] TonyBogdanov opened #38 "Cannot declare class MauticPlugin\GrapesJsBuilderBundle\GrapesJsBuilderBundle, because the name is already in use"
When I install this plugin with `composer require` I get the above error during `cache:clear`.

I'm pretty sure it's caused by this line: https://github.com/ChrisRAoW/mautic-rss-to-email-bundle/blob/d5532047642b54129690fc18625a372f75ca678c/MauticRssToEmailBundle.php#L20

What's it's purpose? Mautic already uses the composer autoloader (at least in development mode). If this is some weird edge case

[2021-03-30 11:30] TonyBogdanov commented on #38
Actually I just realised this references some custom loader within the plugin, but the above issue is still quite real.
I forgot to mention that this happens with Mautic 3.3.2.

[2021-03-30 12:04] TonyBogdanov commented on #38
Just did some more testing and it looks like **all** of this is already resolved in `master`. In fact, `master` installs beautifully in all of the following Mautic versions:
- `2.15.3`
- `2.16.4`
- `3.0.2`
- `3.1.2`
- `3.2.2`
- `3.2.4`
- `3.3.1`
- `3.3.2`

Perhaps you could just release it?

[2021-03-30 12:24] ChrisRAoW commented on #38
@TonyBogdanov Good point. I tagged it version 1.5.

[2021-03-30 12:25] #38 closed

[2021-05-25 18:12] diamondtheta opened #39 "Not show up in plugins"
Hello!

I have uploaded the folder into plugins directory, but it do not showss up under plugins menu in mautic 3.3.2 :(
I have bought this plugin on mauticapps.com. Is that different from this?

Thanks,
Adrian

[2021-05-25 18:39] ChrisRAoW commented on #39
@diamondtheta This plugin is not the one you bought on mauticapps.com. But did you clear the cache?

[2021-05-26 11:01] diamondtheta commented on #39
Thanks! Clearing the cache worked :DD
I always forgot that solution :D
But what is the difference then if these mautic RSS plugins are different ?

[2021-05-26 15:27] ChrisRAoW commented on #39
@diamondtheta I'm honestly not sure about the plugin on mauticapps. The only thing I know is that I made this one (on github) as open source and therefor publicly available. The one on mauticapps is paided. Not sure if its better....

[2021-05-26 17:56] diamondtheta commented on #39
Then maybe someone just selling your opensource plugin there? :D
I only found this one after I bought that :D

[2021-05-26 17:57] diamondtheta commented on #39
The files seemed the same O.O

[2021-05-26 18:55] ChrisRAoW commented on #39
I thought about it, and never thought they would This is really ugly. Thanks for letting me know.

[2021-05-26 19:18] diamondtheta commented on #39
I don't know that if it is ALL the same (i checked only the file names under the main directory), but you checked and those 2 are ALL the same??

[2021-05-26 19:21] ChrisRAoW commented on #39
I didn't check...didn't bought the plugin ;-)

But even if they made change, they cant just copy code like this.

[2021-05-29 22:32] diamondtheta commented on #39
It seems the same plugin to me also because of the installation guide and embeding tags also. :(
But if this is your plugin than maybe you are more aware about this issue:

Now I could insert images into my RSS but can't fetch it into the {feeditem:image}, but only into the {feeditem:description} !
So the image is NOT appearing with {feeditem:description}, and the image only appears with {feeditem

[2021-05-31 06:51] ChrisRAoW commented on #39
@diamondtheta Can you send me the url to the feed.

[2021-05-31 10:51] diamondtheta commented on #39
Ok, thanks, but I have solved ALL yesterday!! ;DD
This is my feed URL for example: https://orult.hu/nyelv-nelkul-is-ertheto/feed
So you can see that the RSS image should be output in this format, but could not find plugin or RSS code that did that, I had to customize code :D
Other than the image in RSS (what I wrote earlier) there was no other problem.

[2021-05-31 10:52] ChrisRAoW commented on #39
Good to know. Have fun using this FREE plugin ;-) haha

[2021-05-31 10:54] diamondtheta commented on #39
^^

[2021-07-02 15:31] nroccogit opened #41 "How to setup Rss Email ongoing?"
Hi, sorry if I use this channel but I think can be interesting for other users like me... new to Mautic.
I've setup the plugin and seem to work but... How can I set a "campaign" that send my RSS feed updates to a "segment" of contacts?

Can you update the docs and write how to use the plugin once installed? Need to create a "campaign"? a "segment"? an "segment email"? or what?

Thanks for your tim

[2021-07-02 21:34] ChrisRAoW commented on #41
@nroccogit This plugin works for e-mails. It doesnt matter what kind of e-mail you use. So you can create a segment and use that to send a segmented e-mail, or create a campaign and send an e-mail within that process.

[2021-07-05 07:36] nroccogit commented on #41
@ChrisRAoW thanks for your quick reply. I've setup a broadcast email linked with a (for now) test segment with 2 contacts. Then I manually sent the email from the email "panel" to checkout the final result. Everything was ok.

Now:

- if I try to manually send again the email the send window says "There are no pending contacts.". So it seems that I can't send this email multiple times to the same

[2021-07-12 06:59] nroccogit commented on #41
@ChrisRAoW any idea? What is the ideal setup to make it works?

[2021-07-12 07:05] ChrisRAoW commented on #41
@nroccogit Sorry, something went wrong with my reply.

At first, the plugin "simply" fetches the feed and displays the content in the e-mail. It doesnt trigger e-mails when new items arrive in the feed.

To send an e-mail to the same contact multiple times you can set up a campaign the check the "allow contacts to restart the campaign" checkbox. Everytime the contact appears in the segment the mai

[2021-07-12 17:00] nroccogit commented on #41
@ChrisRAoW no problem... thanks for reply.
I think is my fault... I misunderstand the plugin functionality. I was expecting "trigger e-mails when new items arrive in the feed." :)
So this is not the right plugin for my use case.
By the way, I think it can be a good idea for future releases.
Thanks again for your time.

[2021-07-15 11:38] iparker opened #42 "Question about performance/number of feed requests"
Hello,

I have a short question about the performance when using the rss feed bundle:

When I send the email to multiple contacts, is the feed requested for every single contact or is there any kind of caching for this data to handle the request just one time?

Thanks for an short answer!

Best regards,

Timo

[2021-07-16 07:24] ChrisRAoW commented on #42
@iparker It's some time ago. But if I remember well it done only once on every batches. So if you have 1000 contacts and batches of 100 it will be called 10 times.

[2021-07-16 09:51] iparker commented on #42
Great - thanks a lot for your reply!

[2021-07-16 09:51] #42 closed

[2021-07-16 19:22] iparker opened #43 "Can someone offer me the development of a litte extension for this bundle?"
Hello,

sorry for asking this at github: But can someone of the contributors offer me some small extensions for this bundle?

I would like to have an option to output some random feeditems. For example I have a feed with 20 items. I would like to define that I output just 5 from these 20 items random.

Another question: Is there a way to work with other data than rss feeds, for example another xml

[2021-07-19 08:20] ChrisRAoW commented on #43
@iparker Selecting feeditems will be hard thing to do. I did it before at the other side. Within wordpress selecting the items I want to return in the feed.

Currently other data resources arent possible, but shoulld certainly be possible. Will think about that one. Do you have a specific use case in mind?

[2021-07-19 13:33] iparker commented on #43
Thanks for your reply.

In best case we want to output data from an api backend (also symfony with api-platform). If this is not possible we can think about output this data as rss. But if json would be possible we don't have to change anything.

What do you mean with "selecting feeditems". I don't want to select special items but to output random items from a feed like

{feeditems count="10" shuf

[2021-07-20 08:44] iparker opened #44 "Output feed based on url from token?"
Hello,

I want to specify the feed-url via an email token when I send emails with the rest api (see at https://developer.mautic.org/#extending-emails).

So I define the output of the feed like this:

`{feed url="{token_feed}"} {feeditems count="3"}`

But with this I get an error in the email like this:

Error: URL (https://ipm-promotion.de/feed/) empty or not valid

There is the output of my feed-

[2021-07-20 10:19] ChrisRAoW commented on #44
@iparker Interesting use case. Will try to reproduce and think of a fix.

[2021-07-20 10:58] iparker commented on #44
Great - thank a lot for your quick feedback! That would be great if you could implement the possiblity to handle a feed url from the token!

[2021-07-21 13:03] iparker commented on #44
Hello Chris,

don't know if you receive this message but it would be great if you
could give me your email address for direct contact.

Maybe we can talk about my customization questions
(https://github.com/ChrisRAoW/mautic-rss-to-email-bundle/issues/43).

It would be great to get feedback!

Best regards,

Timo

<https://ipm-promotion.de> 	*iPM_Promotion*
eine Software der *iPark-Media GmbH*
Timo

[2021-07-21 13:10] ChrisRAoW commented on #44
Can you send me an e-mail at chris[at]raow[dot]nl

[2021-07-22 22:33] ChrisRAoW commented on #44
@iparker The "token_feed" token, where is it coming from in your example? Do you use the api to send out an e-mail? (https://developer.mautic.org/#send-email-to-contact)

[2021-07-23 03:32] iparker commented on #44
Yes, the token comes from the api when sending an email to a single contact.

[2021-07-23 10:35] ChrisRAoW commented on #44
@iparker Do you know what php version you're on?

[2021-07-23 10:59] iparker commented on #44
Yes, php version 7.3.27 and mautic version 3.3.3.

[2021-07-25 10:01] ChrisRAoW commented on #44
@iparker I just commited a change to the master branche that should make this possible. Can you check it out?

[2021-07-26 08:20] iparker commented on #44
Hi Chris,

thanks a lot for your update! We updated your bundle and now the feed items are displayed when I add the feed url via token in send api. Thanks a lot!

Now we will test it with some real use cases.

[2021-07-26 08:23] #44 closed

[2021-08-21 21:22] donbowman opened #45 "content seems truncated"
My feed ( https://www.agilicus.com/feed/ ) has items as below.

I would like to send the entire content into the email. I've tried `{feeditem:content}`, but it sends the same info as `{feeditem:description}` which is the short overview.

I tried `{feeditem:content:encoded}` but that gives an error.

Can you suggest how I would achieve this goal? The parser seems fairly simple, if i read it correct

[2021-08-23 07:23] ChrisRAoW commented on #45
@donbowman Did you also tried {feeditem:content_full}?

See list of available token in the readme (https://github.com/ChrisRAoW/mautic-rss-to-email-bundle)

[2021-08-23 14:21] donbowman commented on #45
sigh, how did i miss that.
my apologies. it seems to get all.

i will close.

[2021-08-23 14:21] #45 closed

[2021-08-23 14:40] ChrisRAoW commented on #45
@donbowman no problem. Glad it worked out! Good luck!

[2021-08-27 14:54] nextafter-dan opened #46 "Feature: Only send out RSS email if there is a new post"
Many other email platforms have RSS emails but only send out when there is a new post available. Since the standard way to set up these emails to be ongoing is through a campaign, do you think it would make sense to extend Mautic to add a decision to the campaign options that would check if a new post was added to the RSS feed? Or add it as a plugin feature option to check for new posts?

[2021-09-03 18:45] rodneyoliveira opened #47 "Not showing full content, content and image"
Hi,

{feeditem:content_full_text}
{feeditem:content_full}
{feeditem:image}
{feeditem:content}

are not working here. Only {feeditem:content_text } is ok.

You can check rss email we used to send here:
https://comunica.lscadministradora.com.br/email/preview/15

Can u gimme a clue?

Thanks!!!!

[2021-09-03 18:46] rodneyoliveira commented on #47
`     {feed url="https://lscadministradora.com.br/artigos/category/condominios/feed/"} {feeditems count="2"}
        <tr>
            <td style="text-align: left; padding: 15px 0px;">
              <tr>
                <td>{feeditem:image}</td>
              </tr>
                <tr>
                    <td style="text-align: left; padding: 0 15px;">
                        <h2>{feeditem:title}</

[2021-09-06 07:24] ChrisRAoW commented on #47
@rodneyoliveira You're feed seems to be "incomplete". I'm not seeing the <content> tag, which normally contains the full content.

The image is a different story. I see you're using wordpress. To use the image tag the image should be provided in the rss feed in an `<enclosure>` or `<media>` tag. I think a plugin like this should help: https://nl.wordpress.org/plugins/wp-feed-post-thumbnail/

[2021-09-06 12:53] rodneyoliveira commented on #47
@ChrisRAoW Thanks for your response. When you say incomplete, which tags are you referring to? I mean, what tags are missing to work properly?

[2021-09-06 13:02] ChrisRAoW commented on #47
@rodneyoliveira The `<content>` tag for example

[2021-10-12 20:01] miamicityman opened #48 "Automate RSS mailing"
Hello there.

I have the the plugin working fine, but when attempting to do testing - say send the same exact rss mailing every ten minutes - I get the error that the email has already been sent after it goes out the first time.

Should RSS mailings be set to transactional?

Thanks,

[2021-10-12 20:36] YouBuiltThat commented on #48
Yes in that case it should be transactional.

On Tue., Oct. 12, 2021, 14:01 Miami City Man, ***@***.***>
wrote:

[2021-10-12 20:41] #48 closed

[2021-10-14 11:59] miamicityman opened #49 "Further question to RSS periodic mailing"
Hello again:

Per your previous comments, the SEND MAIL campaign action should be set to TRANSACTIONAL if its a RSS periodic mailing.

Would that be the same whether is every 10 minutes, every 10 days, every 10 weeks?

Thanks,

[2021-11-05 07:58] iPM-Maiwald opened #50 "Feature Request: Support for custom tags/namespaces"
We use custom tags. To support a valid RSS-Feed, we have a custom prefix, which has its own namespace in the rss tag.

RSS-Feed
`<rss version="2.0" xmlns:prefix="namespaceURI">`

We also changed the  default case in the ItemTag.php like this.

`default:
  $itemTag = null;

  if(strpos($this->tag, ':') !== false){
    $parts = explode(':', $this->tag);
    $prefix = $parts[0];
    $localName = $par

[2021-11-05 08:21] ChrisRAoW commented on #50
@iPM-Maiwald Can you send over an example of your rss?

[2021-11-05 08:37] iPM-Maiwald commented on #50
@ChrisRAoW can you mail me? m.maiwald@ipark-media.de

[2021-12-23 17:01] shmaltz opened #51 "Custom fields in feeds"
Hi!

I am creating a custom WP post feed that will contain custom fields.

Can these fields be accessed by using something like `{feeditem:custom_field}` or do I need to modify the plugin to read these fields?

Thanks!

[2021-12-24 09:49] ChrisRAoW commented on #51
@shmaltz This is good feedback. You can't just add custom fields to you RSS feeds because it will invalidate the rss feeds because those fields don't exist for rss feeds. We can overcome this by defining a custom xmlns. Will put it on our dev-list.

[2021-12-24 19:37] shmaltz commented on #51
Sounds great @ChrisRAoW!

Thank you!

Happy holidays!

[2021-12-26 06:01] shmaltz opened #52 "<image> tag"
I have add an image to my RSS feed (WP) manually, and it shows up like this:
`<image><url>www.image-url.com</url></image>`
(The image isn't part of the content)

I tried adding the image to my email template using` {feeditem:image} `but it doesn't load.

Do I have to modify anything in my feed to make this work?

Thanks!

[2021-12-26 14:06] shmaltz opened #53 "Feature Request: Tags for each individual <item>"
Currently it seems we can only style the RSS items one way, and there is no way to display the items in a table grid format.

It would be really cool if we could add each item to the template individually. This would make the templates much more customizable.

E.g. We would be able to style each post differently, and we would be able to put the posts in a <table>.

I've seen this in a WP plugin, w

[2021-12-27 09:00] ChrisRAoW commented on #53
@shmaltz Great idea, will put it on our feature-list.

[2021-12-27 09:06] ChrisRAoW commented on #52
It will check this `<media>` or `<enclosure>` tag in the rss.

[2021-12-29 16:02] shmaltz commented on #52
Thank you. That helped.

[2021-12-29 16:02] #52 closed

[2021-12-29 16:08] shmaltz opened #54 "Compatibility with V4.1.1"
I recently updated to v4.1.1 and the plugin shows up in the plugin list, however it isn't converting the rss tags in my template to the proper text.

I added the tags into the template using "Edit Code" button, as v4.x doesn't seem to have the "code mode" slot like v3.

Am I doing something wrong?

Thanks!!

[2021-12-29 16:14] shmaltz commented on #54
It looks like the new grapesjs editor stripped out the {feeditems} and {feed} tags, along with other styling info.

[2022-01-01 21:15] ChrisRAoW commented on #54
@shmaltz Will dive into it.

[2022-01-05 03:55] oguruma1218 opened #55 "Why not use api instead of RSS?"
I'm a coding and Mautic noobie, so please forgive me, but why not just use the Wordpress REST API to get the posts instead of an RSS feed?

As I understand it, the API will give you completely granular control over which posts, and which post meta you pluck out.

For example, one user commented in a different issue about wanting to pull out custom fields.

[2022-01-05 03:55] oguruma1218 opened #56 "RSS vs REST API?"
I'm a coding and Mautic noobie, so please forgive me, but why not just use the Wordpress REST API to get the posts instead of an RSS feed?

As I understand it, the API will give you completely granular control over which posts, and which post meta you pluck out.

For example, one user commented in a different issue about wanting to pull out custom fields.

[2022-01-05 03:56] oguruma1218 opened #57 "What automates the sending of the email, if anything?"
Suppose you want to automatically send the 5 newest posts every Monday morning.

Does Mautic or the Plugin have an in-built way to do that?

[2022-01-05 08:36] ChrisRAoW commented on #55
@oguruma1218 Thanks for your question. Rss feeds is a standard format which is used across all kinds of Content Management Systems. This plugin is not Worpdress specific, but should cover a wide range of systems.

[2022-01-05 08:38] ChrisRAoW commented on #57
Mautic or the plugin does not support this yet. But I'm busy implementing it into the plugin. There a change needed to be made to the Mautic core which is there since Mautic 4.1. I don't have a schedule for it yet, but it's coming.

[2022-01-05 08:39] ChrisRAoW commented on #56
Duplicate of https://github.com/ChrisRAoW/mautic-rss-to-email-bundle/issues/55. Will close this one.

[2022-01-05 08:39] #56 closed

[2022-01-05 08:43] ChrisRAoW commented on #49
@miamicityman Sorrry, missed your message. No, Mautic does not work like this.I think with the campains you can set up periodic e-mails, but it's not really intuitive to configure. I have a solution or this in mind and will work on this to have this implemented as a plugin soon.

[2022-01-06 16:58] miamicityman commented on #49
Thanks Chris,

I've set it up with _send mail_ and _jump to event_, but I agree it's not entirely intuitive, especially as to when new contacts enter the segment, or pausing and restarting the campaign.

My current RSS needs are to send any given weekday; or _n_ day of the month.

Look forward to reviewing plugin.

![image](https://user-images.githubusercontent.com/57761794/148419906-5c4cd467-e176

[2022-01-06 20:26] ChrisRAoW commented on #49
@miamicityman Thanks, this is also helpful for me defining the requirements.

[2022-01-10 04:37] shmaltz opened #58 "Author tag not rendering"
In my feed I have both the `<dc:creator>` and `<author>` tags filled in and they show up properly in the feed, however when I put `{feeditem:author}` in my template, it doesn't display the author name...
Am I doing something wrong?

I also tried the `{feeditem:categories}` tag, using `<category>Category Name</category>` in my feed, and that didn't work either.

Title, description etc. works proper

[2022-01-10 08:38] ChrisRAoW commented on #58
@shmaltz Can you send the link to your RSS feed? If you don't want to post it here you can also sent it by e-mail chris[at]raow[dot]nl

[2022-01-12 12:24] iparker opened #59 "Output of feed-items in text-email/text-version"
Hello,

should the output of the feeditems also work in the txt-version of the email?

I tried it with the following simple structure and get no feed output in the txt-mail:

{feed url="myurl"}
{feeditems count="5"}
{feeditem:title}

{/feeditems}
{/feed}

Thanks for some help!

Best regards,

Timo

[2022-01-12 12:25] ChrisRAoW commented on #59
@iparker Currently it only works in de HTML version. But great question / suggestion. I will check if I can make ik work in the txt-version as well.

[2022-01-13 11:22] shmaltz commented on #58
Hi! For some reason when I was sending the test mail it wasn't working, however when the campaign actually sent, it worked!
Thanks for this awesome plugin!

[2022-01-13 11:22] #58 closed

[2022-01-13 14:42] iparker opened #60 "Problem with html-encoding in feed-url"
Hello,

we have a problem with out feed-url because they contain multiple get parameter.

The url is something like
https://www.url.de/api/endpoint.rss?param1=value1&order[random]&itemsPerPage=5&top_offer=1&sponsored=1

But inside the mautic editor happens some kind of html-encoding, so the url is saved as

https://www.url.de/api/endpoint.rss?param1=value1&amp;order[random]&amp;itemsPerPage=5&amp;

[2022-01-13 19:49] ChrisRAoW commented on #60
@iparker What version of mautic are you using?

[2022-01-13 19:59] iparker commented on #60
We are using 4.0.1 or 4.1.1 but with the legacy email editor.

[2022-01-13 21:06] ChrisRAoW commented on #60
@iparker Alright...Will try to look into it soon, currently really busy with other projects.

[2022-02-01 15:38] rmdes commented on #54
Same here can't get it work anymore :  Error: URL () empty or not valid

[2022-02-09 13:07] miamicityman commented on #49
Hello again Chris. Any progress on this function?

[2022-03-15 16:19] NJseo opened #61 "Not a valid RSS /ATOM feed. Weird, its WP outputting the xml"
This one has got me for a loop. Invalid rss feed. Its default wordpress. Trying to find a plugin that outputs valid rss.

Error: A feed could not be found at `https://www.multiculturalcaregiving.net/post-sitemap1.xml`. This does not appear to be a valid RSS or Atom feed.

[2022-03-15 21:43] ChrisRAoW commented on #61
@NJseo This is not a valid feed:
https://www.multiculturalcaregiving.net/post-sitemap1.xml

You should use this url:
https://www.multiculturalcaregiving.net/feed/

[2022-03-15 22:32] NJseo commented on #61
Thank you so much Chris

[2022-03-23 00:47] lgwapnitsky opened #62 "no images in feed"
I can see preview images in other readers, but this is not picking up the images properly.  Ideas?

My feed is at https://larry.wapnitsky.com/feed/feed.xml

[2022-03-23 08:08] ChrisRAoW commented on #62
@lgwapnitsky The image must be referenced in the `<enclosure>` or the `<media>` tag.

[2022-03-31 12:49] levihb opened #63 "Is there a way to make it send out everything since the last email was sent? Instead of a count?"
On MailChimp you can set it up so that it simply adds all of the stories since it was last sent out. Is there a way to set this up in the plugin?

E.g. if we send out an email on Wednesday at 6pm, then on Thursday at 6pm, the Thursday one should contain all of the articles in the RSS feed from the past 24 hours. And if we send out one at 6pm on Friday, then at 7pm on Monday, it should grab all of

[2022-03-31 13:11] ChrisRAoW commented on #63
@levihb Currently this is not possible, but it is something we work on. But currently really limitted in time. So it will come, not sure when actually.

[2022-04-07 04:00] shmaltz opened #64 "Pause and continue feed"
Is it possible to display 3 posts, then display some html like images, and then continue where we left off and display another 3 posts?

e.g: count="**1-3**"

[code]

[2022-04-07 07:03] ChrisRAoW commented on #64
@shmaltz This is currently not possible, but will check if I can implement an 'offset` parameter.

[2022-04-29 18:26] miamicityman commented on #57
Hello Chris ... any update to report on this? Thank you!

[2022-05-04 19:16] ChrisRAoW commented on #54
@shmaltz @rmdes Sorry for my late reply, but I checked the plugin in latest version and everything is working fine. Will close this issue for now. If you still stumble upon a / the issue, feel free to open a new one.

[2022-05-04 19:16] #54 closed

[2022-05-04 19:18] ChrisRAoW commented on #62
Since no future reply I assume this fixed the issue. Will close issue

[2022-05-04 19:18] #62 closed

[2022-05-04 19:19] #61 closed

[2022-05-04 22:21] ChrisRAoW commented on #47
Closed due to inactivity

[2022-05-04 22:21] #47 closed

[2022-05-04 22:21] #39 closed

[2022-05-04 22:22] #41 closed

[2022-05-04 23:01] ChrisRAoW commented on #64
@shmaltz You should now be able to do this by:

[code]

Can you check it out?

[2022-05-04 23:03] #64 closed

[2022-05-04 23:04] ChrisRAoW commented on #60
@iparker This was fixed in the latest 1.6.0 release

[2022-05-04 23:04] #60 closed

[2022-05-04 23:04] ChrisRAoW commented on #59
@iparker This was fixed in the latest 1.6.0 release

[2022-05-04 23:04] #59 closed

[2022-05-04 23:05] ChrisRAoW commented on #51
@shmaltz This was added in the latest 1.6.0 release. Check the ReadME file how to use it.

[2022-05-04 23:05] #51 closed

[2022-05-04 23:07] ChrisRAoW commented on #50
@iPM-Maiwald I implemented a functionality to support custom fields. Could this work for you as well?

Check the ReadME file in the master branch

[2022-05-04 23:08] ChrisRAoW commented on #43
@iparker Just added a `shuffle=1` parameter.

[2022-05-04 23:08] #43 closed

[2022-05-11 11:20] ChrisRAoW commented on #50
@iPM-Maiwald It's already there. Version 1.6

[2022-08-11 07:34] TornMarketing commented on #60
How are we handling html encoding for the broader piece?

Getting the quotes to be encoded in both html and mjml
Mautic V4.0 - V4.4

[code]

[2022-08-11 09:53] ChrisRAoW commented on #60
@TornMarketing Interesting. If you replace the "&quot;" by the correct character manually will be changed back after save?

[2022-08-11 09:58] TornMarketing commented on #60
Yeah cycle's back on save

Mautic implement the encode a while back to clean code (over a yr ago), has effected my style selectors

Donno how the issue hasn't come up before

[2022-08-11 10:00] ChrisRAoW commented on #60
@TornMarketing Haven't experienced it so far either. Not another plugin installed recently that can cause this?

[2022-08-11 10:04] TornMarketing commented on #60
Tried on a few different instances,
Latest was brand new default config

[2022-08-11 10:05] ChrisRAoW commented on #60
@TornMarketing Ah, then it's something I have to check. Can you give me some steps to reproduce the issue?

[2022-08-11 10:11] TornMarketing commented on #60
Thinking on this further
Wondering it's a database thing

My old mautic ticket I neglected to follow up on when I might ate from 3 to 4, effectively the same issue

https://github.com/mautic/mautic/issues/10508

[2022-08-11 11:23] ChrisRAoW commented on #60
I'm quite busy currently, but I will try to find out if this is something I can reproduce too. Can you give me some steps nevertheless?

[2022-08-11 11:26] TornMarketing commented on #60
Recreation
Mjml mj-raw
Copy n paste from github, update url, save, test send

Html code
Same as above

[2022-08-16 10:48] kuzmany opened #66 "Unknown namespace mautic.org/rss/mautic"
Because https://www.mautic.org/rss/mautic/ return 404
Can you share original namespaces  definition? We can make it alive.

[2022-08-17 06:58] ChrisRAoW commented on #66
@kuzmany What do you mean with namespace definition?

[2022-08-17 07:12] kuzmany commented on #66
What content was on the https://www.mautic.org/rss/mautic/ ?
I just follow documentation

And this URL return 404.  I suppose to this address should return something.
Custom tags does not work at the moment.

[2022-08-17 09:26] ChrisRAoW commented on #66
@kuzmany The url doenst have to return anything. It not an url but an uri. The uri declares the namespace itself.

[2022-08-17 12:44] iparker commented on #42
Hi Chris,

hi have to re-ask for this issue.

We use your rss-plugin very intensive to output different dynamic data in the emails.

The last thing we created was an rss-feed which generates a individual coupon code for each receiver. We realised this by an api-endpoint (in our system) which creates a new bonus-code and returns this code as rss-feed so we can output the code with your plugin. This

[2022-08-18 06:41] iparker opened #67 "Problem with feed-request per batch"
Hello,

sorry for duplicate this - I already wrote about my problem at https://github.com/ChrisRAoW/mautic-rss-to-email-bundle/issues/42 but this issue is closed.

We use your rss-plugin very intensive to output different dynamic data in the emails.

The last thing we created was an rss-feed which generates a individual coupon code for each receiver. We realized this by an api-endpoint (in our sys

[2022-08-18 07:08] ChrisRAoW commented on #67
HI @iparker,

Nice to hear you are using the plugin intensively.

I think I can enable the replacement of the feed_tags on every individual e-mail based on a parameter. This then should be handled with care. If you have a list of 10000 subscribers, it will request the feed 10000 times, which can bring your server down if it is an heavy request.

Chris

[2022-08-18 07:31] iparker commented on #67
Hi Chris,

thanks for your quick reply!

Yes you are right - the number of requests will heavily increase. But I think this is necessary for the way we want to use it. We have to monitor the performance/load of the server after the change.

It would be great if you can change this!

Do you mean that it is possible to set a parameter next to the feed url so one feed is handled per batch and another

[2022-08-18 08:06] ChrisRAoW commented on #67
@iparker Already checked, I think i can implement this pretty easy. Will do it later today.

You will be able to set the parameter next to the feed url.

[2022-08-18 08:08] iparker commented on #67
Great - thanks a lot!!!

[2022-08-18 10:28] ChrisRAoW commented on #67
@iparker Can you try this feature-branche?

https://github.com/ChrisRAoW/mautic-rss-to-email-bundle/tree/feature/batch-mode

Documentation is in the readMe. Long story short, add `batch="0"` next to the url in the feed tag.

[2022-08-18 12:50] iparker commented on #67
Thanks a lot for your quick fix!

I think the batch="0" is working - with this I have different output in the emails for different receivers.

But there is one wrong output in the feed-content.

I think the reason for this is the following line of code:

`$feedParserContent = uniqid() . ' - ' . $feedParserContent;`

There is this uniqid-Output before the feed content.

Maybe you can fix this?

Tha

[2022-08-18 12:52] ChrisRAoW commented on #67
@iparker whoops...was piece of debug code. Is removed now from the branch. I will merge in master too

[2022-08-18 13:02] iparker commented on #67
Yes I think so. Again thanks a lot for your help!

So will you merge this batch-mode into master branch?

[2022-08-18 13:03] ChrisRAoW commented on #67
@iparker nice addition the to plugin.

Already merged.

[2022-08-18 13:09] iparker commented on #67
I'm exited to test the change tomorrow with an email to 20.000 receivers ;-)

[2022-08-18 13:27] ChrisRAoW commented on #67
haha, let me know.

[2022-08-18 19:11] kuzmany commented on #66
Now I found the issue. It was my mistake

[2022-08-18 19:11] #66 closed

[2022-08-19 09:25] ChrisRAoW commented on #66
@kuzmany Good to hear!

[2022-08-19 10:39] iparker commented on #67
Hi Chris,

the send process is still running but I want to give you a first feedback about the performance.

Unfortunately the performance is very bad.

The email yesterday (with batch mode) handed about 1.000 in 2m30s. Now without the batch mode it takes about 30m for 1.000 emails.

So our use case and the way we want to output individual data based on rss feeds in mautic emails is not performant

[2022-08-19 11:51] TonyBogdanov opened #69 "Cannot install via Composer in Mautic 4.4.1"
I am unable to install this plugin with Composer 2 in Mautic 4.4.1.

I'm using `composer require raow/mautic-rss-to-email-bundle:1.7.0`, and the result is:
[code]

For your convenience, here's a simple `Dockerfile` to reproduce the issue:

[code]

[2022-08-20 10:19] iparker commented on #67
Just reopened this issue because I don't know if you see my comment for the closed issue.

[2022-08-22 06:52] ChrisRAoW commented on #67
Hi Timo,

This is exactly the reason why we didn't implemented this in the first place. I maybe have some ideas to optimize the process on the plugin side. On the other hand you could try to optimize the feed. If it would take 90ms in stead of 180 ms to request the feed, that would also help of course.

I will keep you posted on my findings.

Chris

[2022-08-22 07:12] ChrisRAoW commented on #69
@TonyBogdanov currently I don't have the mautic composer plugin inside the composer.json. I'm not sure if that is the reason you are getting this error, but I think it at least the reason you can't install it.

[2022-08-22 09:33] TonyBogdanov commented on #69
@ChrisRAoW If you are talking about `mautic/composer-plugin`, I think that one is deprecated. It only supports Composer 1 and Mautic 4 uses Composer 2 now. Honestly I don't really understand what the error means...

[2022-08-22 09:45] iparker commented on #67
Hi Chris,

we just reduced the feed-content which comes with a better response time (-50ms) and a much smaller request size (-75% size) but the performance is still the same.

I think we have to look for another approach for our use case, somethink like storing the feed-data as json-string in custom fields and output the json-data in the email with twig template extension.

I don't know if this wi

[2022-08-22 10:07] ChrisRAoW commented on #69
@TonyBogdanov Ah oke, I was not aware.

Do you use this way of installing plugins through composer for other plugins?

[2022-08-22 10:29] TonyBogdanov commented on #69
@ChrisRAoW I use it for one more plugin and it has similar issues, so I chose to just install them both by extracting a downloaded ZIP archive. Less headache.

[2022-08-22 11:09] ChrisRAoW commented on #69
@TonyBogdanov Can we draw the conclusion that this is not really an issue of this plugin?

[2022-08-22 11:31] TonyBogdanov commented on #69
@ChrisRAoW I can't really say where the problem is, the fact of the matter is that Mautic install just fine with Composer 2, but trying to `require` this plugin fails, so something with the plugin is wrong.. exactly what, I don't know yet.

[2022-08-22 11:40] ChrisRAoW commented on #69
@TonyBogdanov But you had the same issue with other plugins too right?

[2022-10-11 08:51] miamicityman commented on #49
Hello Chris,

Any word on the rss plugin you were working on?

Thanks,

On Wed, Jan 5, 2022 at 3:43 AM ChrisRAoW ***@***.***> wrote:

--
Max Jaramillo
City of Miami, USA